* {
    box-sizing: border-box;
}

body {
    background-color: #f9f8fd;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}

main {
    width: 65%;
    background: #fdf7d7;
    position: relative;
    margin: 100px 50% 0 50%;
    transform: translateX(-50%);
    padding: 30px 30px;
    box-shadow: 4px -4px 0px #f19aee, 8px -8px 0px #ffbd7b, 6px 2px 6px #e1e1e1, 1px -1px 6px #e1e1e1;
}

h1 {
    color: #525252;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3.5em;
    padding-left: 1em;
    padding-top: 0.3em;
    margin: 0;
}

[contenteditable="true"] {
    outline: none;
}

nav {
    margin: 20px 50px;
    justify-self: flex-end;
}

.nav_flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

button {
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: transparent;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

button:hover {
    opacity: 100%;
    background-color: #ed81ab;
    transition: 0.4s;
}

button.back {
    background-image: url('images/back.png');
}

button.save {
    background-image: url('images/save2.png')
}

button.delete {
    background-image: url('images/bin2.png')
}

textarea {
    max-width: 65%;
    background-color: #fdf7d7;
    margin: 20px 50px;
    border: none;
    outline: none;
    resize: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
}

footer {
    width: 100%;
    margin: 3% 0;
}

footer p {
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.5px;
}

#noteBackground {
    width: 90px;
    border: 1px solid #ffbd7b;
    height: 35px;
    margin: 7px;
    border-radius: 5px;
    outline: none;
}

.noteStyle1 {
    background: var(--noteBackground1);
}

.noteStyle2 {
    background: var(--noteBackground2);
}

.noteStyle3 {
    background: var(--noteBackground3);
}

.noteStyle4 {
    background: var( --noteBackground4);
}

.noteStyle5 {
    background: var(--noteBackground5);
}

.noteStyle4 textarea,
.noteStyle2 textarea {
    background: transparent;
}